.watch {
    width: 100vw;
    height: 100vh;
    background-color: black;

    .back {
      display: flex;
      position: absolute;
      left: 1rem;
      top: 1rem;
      color: white;
      z-index: 2;
      cursor: pointer;
      align-items: center;
    }

    .video {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
      position: relative;
      top: 10%;
    }
}