.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 15px -10px rgb(0 0 0 / 75%);
  padding: 0.6%;
  align-items: center;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.addProductItem > label {
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 10px;
}

.addProductItem > input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.addProductItem > select {
  padding: 10px;
  border-radius: 10px;
}

.addProductButton {
  width: 6rem;
  height: 3rem;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
